/* Variables */
[data-theme='light'] {
  --primary-color: #f2fbff;
  --secondary-color: #ffffff;
  --accent-color: #d1e4f7;
  --font-color: #424242;
  --border-color: #d8d8d8;
  --card-shadow: 2px 2px 0.5rem 0 #969696;
}

[data-theme='dark'] {
  --primary-color: #11113a;
  --secondary-color: #242424;
  --accent-color: #313061;
  --font-color: #ffffff;
  --border-color: #d8d8d8;
  --card-shadow: 2px 2px 0.5rem 0 #848484;
}

/* Global Styles */
html,
body,
div#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
  color: var(--font-color);
}
