.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.currentWeather__header {
  display: grid;
  grid-template-areas:
    'weather-icon today'
    'weather-icon date';
  margin-bottom: 1rem;
}

.currentWeather__weatherIcon {
  grid-area: weather-icon;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  filter: drop-shadow(0.125rem 0.125rem 0.5rem #cccccc);
}

.currentWeather__today {
  grid-area: today;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.currentWeather__date {
  grid-area: date;
  font-size: 1rem;
}

.currentWeather__valueSection {
  display: flex;
  margin-bottom: 1rem;
}

.currentWeather__value {
  font-size: 7rem;
  font-weight: 700;
}

.currentWeather__unit {
  font-size: 2rem;
  margin: 1rem 0 0 1rem;
}

.currentWeather__city {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.currentWeather__moreInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.currentWeather__infoSeparator {
  margin: 0 1rem;
}
